.github
.git
*.md
.vscode
.gitignore
.env
.env.*
Makefile
docs
.eslintcache
.gocache
/web/node_modules
/web/default/node_modules
/web/default/dist
/new-api
/new-api.exe
/one-api
!THIRD-PARTY-LICENSES.md
