[Unit]
Description=Private PostgreSQL exporter proxy
Requires=alltoken-monitoring-private-postgres.socket
After=alltoken-monitoring-private-postgres.socket

[Service]
ExecStart=/lib/systemd/systemd-socket-proxyd 127.0.0.1:9187
