[Unit]
Description=Private Redis exporter socket
Requires=wg-quick@wg0.service
After=wg-quick@wg0.service

[Socket]
ListenStream=10.66.0.1:9121
NoDelay=true

[Install]
WantedBy=sockets.target
